// @Variables
$bgColor: #263238;
$mainColor: #8BC34A;
$selectedBgColor: #8BC34A;
$textColor: #BDBDBD;
$textColorDisabled: #757575;
$rowHeight: 56px;
$borderRadius: 3px;
$borderColor: #616161;
$cellHoverBg: #757575;
