// @Variables
$bgColor: #212121;
$mainColor: #689F38;
$selectedBgColor: #689F38;
$textColor: #BDBDBD;
$textColorDisabled: #757575;
$rowHeight: 56px;
$borderRadius: 3px;
$borderColor: #424242;
$cellHoverBg: #757575;
